@model MeusMedicamentos.Application.DTOs.EditarCategoriaDTO

@{
    ViewBag.Title = "Editar Categoria";
}

<h2>Editar Categoria</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Nome, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Status, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(MeusMedicamentos.Domain.Enums.EStatus))), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>
</div>
}
